.popup__icon-click {
  position: absolute;
  top: -43px;
  right: -43px;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  width: 40.7px;
  height: 40.7px;
}

@media (max-width: 550px) {
  .popup__icon-click {
    width: 35px;
    height: 35px;
    top: -35px;
    right: -35px;
  }
}

@media (max-width: 350px) {
  .popup__icon-click {
    width: 25px;
    height: 25px;
    top: -25px;
    right: -25px;
  }
}
