.popup__icon {
  width: 40.7px;
  height: 40.7px;
  position: absolute;
  top: -32px;
  right: -32px;
  transition: opacity 0.5s linear;
}

.popup__icon:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 450px) {
  .popup__icon {
    top: -36px;
    right: 0;
    width: 35px;
    height: 35px;
  }
}
