.popup__button {
  width: 358px;
  height: 50.15px;
  margin: 0;
  background-color: #000000;
  border-color: #000000;
  border-radius: 2px;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  transition: opacity 0.5s linear;
}

.popup__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 500px) {
  .popup__button {
    width: 350px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 425px) {
  .popup__button {
    width: 330px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 380px) {
  .popup__button {
    width: 300px;
  }
}

@media (max-width: 320px) {
  .popup__button {
    width: 290px;
  }
}
