.profile__info {
  display: flex;
  justify-content: space-between;
  width: 336px;
}

@media (max-width: 600px) {
  .profile__info {
    width: 280px;
    justify-content: flex-start;
  }
}
@media (max-width: 426px) {
  .profile__info {
    width: 280px;
    justify-content: center;
  }
}
