.element {
  width: 282px;
  height: 362px;
  border-radius: 11px;
  background-color: #ffffff;
  position: relative;
}

@media (min-width: 900px) {
  .element {
  }
}

@media (max-width: 600px) {
  .element {
    margin: 0 auto;
  }
}
